<%= turbo_frame_tag dom_id(concert) do %>
  <%= simple_form_for(@concert) do |f| %>
    <% if f.object.errors.present? %>
      <div class="p-2 mb-2 font-bold text-red-500 border-2 border-red-800">
        <%= f.error_notification %>
        <%= f.error_notification(
          message: f.object.errors.full_messages.to_sentence) %>
      </div>
    <% end %>
    <article class="my-4">
      <div class="grid gap-4 grid-cols-5">
        <div class="text-xl col-span-1">
          <%= f.input :start_time, label: false %>
        </div>
        <div class="col-span-3">
          <div class="name">
            <div class="text-lg font-bold">
              <%= f.input :name, label: false %>
            </div>
          </div>
          <div class="bands">
            <%= concert.bands.map(&:name).join(", ") %>
          </div>
          <div class="genres">
            <%= f.input :genre_tags, label: false %>
          </div>
          <div class="font-bold text-gray-500">
            <%= f.association :venue, label: false %>
          </div>
        </div>
        <div class="my-10 text-xl col-span-1">
          <%= f.input :ilk, collection: Concert.ilks, label: false %>
          <%= f.input :access, collection: Concert.accesses, label: false %>
          <%= f.button :submit %>
          <%= link_to 'Cancel', concert_path(@concert, inline: true),
            class: "#{SimpleForm.button_class} py-2 mt-4" %>
        </div>
      </div>
    </article>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% end %>
<% end %>

