<%= turbo_frame_tag(dom_id(concert, favorite ? "fav" : nil),
                    "data-animate-out": "animate__slideOutRight") do %>
  <% fav_class = favorite ? "animate__animated animate__slideInRight" : "" %>
  <% sold_out = concert.sold_out? ? "true" : "false" %>
  <% unsold_count = concert.unsold_ticket_count %>
  <article class="my-6 <%= fav_class %>"
           data-sold-out-data-target="concert"
           data-controller="concert"
           data-concert-id-value="<%= concert.id %>"
           data-concert-sold-out-value="<%= sold_out %>"
           data-concert-tickets-remaining-value="<%= unsold_count %>">
    <div class="grid gap-4 grid-cols-5">
      <div class="text-xl col-span-1">
        <%= concert.start_time.by_example("3:04 PM") %>
      </div>

      <div class="col-span-3">
        <div class="name">
          <div class="text-lg font-bold">
            <%= link_to(concert.name,
                        concert,
                        data: {"turbo-frame": "_top"}) %>
          </div>
        </div>
        <div class="bands">
          <%= concert.bands.map(&:name).join(", ") %>
        </div>
        <div class="genres">
          <%= concert.genre_tags.split(",").to_sentence %>
        </div>
        <div class="font-bold text-gray-500">
          <%= concert.venue.name %>
        </div>
      </div>
      <div class="text-xl col-span-1">
        <span data-concert-target="tickets"></span>
        <br/>
        <br/>
        <div class="flex">
          <% if current_user %>
            <%= link_to("Edit", edit_concert_path(concert),
              class: SimpleForm.button_class) %>
          <% end %>
          <% if current_user.favorite(concert) %>
            <%= button_to "Remove Favorite",
              favorite_path(id: current_user.favorite(concert)),
              method: "delete",
              form: {data: {"turbo-frame": "favorite-concerts"}},
              class: SimpleForm.button_class %>
          <% else %>
            <%= button_to "Make Favorite",
              favorites_path(concert_id: concert.id),
              method: "post",
              form: {data: {"turbo-frame": "favorite-concerts"}},
              class: SimpleForm.button_class %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
<% end %>
